<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="HotelDB"
			 connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-0DDHINI\MSSQLSERVERLUTO;Initial Catalog=HotelDB;Integrated Security=SSPI;Trust Server Certificate=True"
			 providerName="SQLOLEDB"/>
	</connectionStrings>
</configuration>